**Updates:**

1. Changed Model from Classification to Regression in order to gain better Accuracy. Thanks for feedback @Aditya Soni.

In [6]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from keras.models import Sequential
from keras.layers import Dense
import matplotlib.pyplot as plt

In [9]:
train = pd.read_csv("C:/Users/Katta's/PycharmProjects/AI-ML/AI-ML/Kaggle/santander-customer-transaction-prediction/data/train.csv")
train.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID_code</th>
      <th>target</th>
      <th>var_0</th>
      <th>var_1</th>
      <th>var_2</th>
      <th>var_3</th>
      <th>var_4</th>
      <th>var_5</th>
      <th>var_6</th>
      <th>var_7</th>
      <th>...</th>
      <th>var_190</th>
      <th>var_191</th>
      <th>var_192</th>
      <th>var_193</th>
      <th>var_194</th>
      <th>var_195</th>
      <th>var_196</th>
      <th>var_197</th>
      <th>var_198</th>
      <th>var_199</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>train_0</td>
      <td>0</td>
      <td>8.9255</td>
      <td>-6.7863</td>
      <td>11.9081</td>
      <td>5.0930</td>
      <td>11.4607</td>
      <td>-9.2834</td>
      <td>5.1187</td>
      <td>18.6266</td>
      <td>...</td>
      <td>4.4354</td>
      <td>3.9642</td>
      <td>3.1364</td>
      <td>1.6910</td>
      <td>18.5227</td>
      <td>-2.3978</td>
      <td>7.8784</td>
      <td>8.5635</td>
      <td>12.7803</td>
      <td>-1.0914</td>
    </tr>
    <tr>
      <th>1</th>
      <td>train_1</td>
      <td>0</td>
      <td>11.5006</td>
      <td>-4.1473</td>
      <td>13.8588</td>
      <td>5.3890</td>
      <td>12.3622</td>
      <td>7.0433</td>
      <td>5.6208</td>
      <td>16.5338</td>
      <td>...</td>
      <td>7.6421</td>
      <td>7.7214</td>
      <td>2.5837</td>
      <td>10.9516</td>
      <td>15.4305</td>
      <td>2.0339</td>
      <td>8.1267</td>
      <td>8.7889</td>
      <td>18.3560</td>
      <td>1.9518</td>
    </tr>
    <tr>
      <th>2</th>
      <td>train_2</td>
      <td>0</td>
      <td>8.6093</td>
      <td>-2.7457</td>
      <td>12.0805</td>
      <td>7.8928</td>
      <td>10.5825</td>
      <td>-9.0837</td>
      <td>6.9427</td>
      <td>14.6155</td>
      <td>...</td>
      <td>2.9057</td>
      <td>9.7905</td>
      <td>1.6704</td>
      <td>1.6858</td>
      <td>21.6042</td>
      <td>3.1417</td>
      <td>-6.5213</td>
      <td>8.2675</td>
      <td>14.7222</td>
      <td>0.3965</td>
    </tr>
    <tr>
      <th>3</th>
      <td>train_3</td>
      <td>0</td>
      <td>11.0604</td>
      <td>-2.1518</td>
      <td>8.9522</td>
      <td>7.1957</td>
      <td>12.5846</td>
      <td>-1.8361</td>
      <td>5.8428</td>
      <td>14.9250</td>
      <td>...</td>
      <td>4.4666</td>
      <td>4.7433</td>
      <td>0.7178</td>
      <td>1.4214</td>
      <td>23.0347</td>
      <td>-1.2706</td>
      <td>-2.9275</td>
      <td>10.2922</td>
      <td>17.9697</td>
      <td>-8.9996</td>
    </tr>
    <tr>
      <th>4</th>
      <td>train_4</td>
      <td>0</td>
      <td>9.8369</td>
      <td>-1.4834</td>
      <td>12.8746</td>
      <td>6.6375</td>
      <td>12.2772</td>
      <td>2.4486</td>
      <td>5.9405</td>
      <td>19.2514</td>
      <td>...</td>
      <td>-1.4905</td>
      <td>9.5214</td>
      <td>-0.1508</td>
      <td>9.1942</td>
      <td>13.2876</td>
      <td>-1.5121</td>
      <td>3.9267</td>
      <td>9.5031</td>
      <td>17.9974</td>
      <td>-8.8104</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 202 columns</p>
</div>

In [10]:
train.isnull().sum().sum()

0

In [10]:
#There are no null values in the data provided

In [11]:
test = pd.read_csv("C:/Users/Katta's/PycharmProjects/AI-ML/AI-ML/Kaggle/santander-customer-transaction-prediction/data/test.csv")
test.head()
print(test.shape)

(200000, 201)

In [12]:
X_train = train.drop(['ID_code', 'target'], axis = 1)
X_train.head()
print(X_train.shape)

(200000, 200)

In [13]:
y_train = train['target']
y_train.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

In [14]:
X_test = test.drop(['ID_code'], axis = 1)
X_test.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>var_0</th>
      <th>var_1</th>
      <th>var_2</th>
      <th>var_3</th>
      <th>var_4</th>
      <th>var_5</th>
      <th>var_6</th>
      <th>var_7</th>
      <th>var_8</th>
      <th>var_9</th>
      <th>...</th>
      <th>var_190</th>
      <th>var_191</th>
      <th>var_192</th>
      <th>var_193</th>
      <th>var_194</th>
      <th>var_195</th>
      <th>var_196</th>
      <th>var_197</th>
      <th>var_198</th>
      <th>var_199</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>11.0656</td>
      <td>7.7798</td>
      <td>12.9536</td>
      <td>9.4292</td>
      <td>11.4327</td>
      <td>-2.3805</td>
      <td>5.8493</td>
      <td>18.2675</td>
      <td>2.1337</td>
      <td>8.8100</td>
      <td>...</td>
      <td>-2.1556</td>
      <td>11.8495</td>
      <td>-1.4300</td>
      <td>2.4508</td>
      <td>13.7112</td>
      <td>2.4669</td>
      <td>4.3654</td>
      <td>10.7200</td>
      <td>15.4722</td>
      <td>-8.7197</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8.5304</td>
      <td>1.2543</td>
      <td>11.3047</td>
      <td>5.1858</td>
      <td>9.1974</td>
      <td>-4.0117</td>
      <td>6.0196</td>
      <td>18.6316</td>
      <td>-4.4131</td>
      <td>5.9739</td>
      <td>...</td>
      <td>10.6165</td>
      <td>8.8349</td>
      <td>0.9403</td>
      <td>10.1282</td>
      <td>15.5765</td>
      <td>0.4773</td>
      <td>-1.4852</td>
      <td>9.8714</td>
      <td>19.1293</td>
      <td>-20.9760</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5.4827</td>
      <td>-10.3581</td>
      <td>10.1407</td>
      <td>7.0479</td>
      <td>10.2628</td>
      <td>9.8052</td>
      <td>4.8950</td>
      <td>20.2537</td>
      <td>1.5233</td>
      <td>8.3442</td>
      <td>...</td>
      <td>-0.7484</td>
      <td>10.9935</td>
      <td>1.9803</td>
      <td>2.1800</td>
      <td>12.9813</td>
      <td>2.1281</td>
      <td>-7.1086</td>
      <td>7.0618</td>
      <td>19.8956</td>
      <td>-23.1794</td>
    </tr>
    <tr>
      <th>3</th>
      <td>8.5374</td>
      <td>-1.3222</td>
      <td>12.0220</td>
      <td>6.5749</td>
      <td>8.8458</td>
      <td>3.1744</td>
      <td>4.9397</td>
      <td>20.5660</td>
      <td>3.3755</td>
      <td>7.4578</td>
      <td>...</td>
      <td>9.5702</td>
      <td>9.0766</td>
      <td>1.6580</td>
      <td>3.5813</td>
      <td>15.1874</td>
      <td>3.1656</td>
      <td>3.9567</td>
      <td>9.2295</td>
      <td>13.0168</td>
      <td>-4.2108</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11.7058</td>
      <td>-0.1327</td>
      <td>14.1295</td>
      <td>7.7506</td>
      <td>9.1035</td>
      <td>-8.5848</td>
      <td>6.8595</td>
      <td>10.6048</td>
      <td>2.9890</td>
      <td>7.1437</td>
      <td>...</td>
      <td>4.2259</td>
      <td>9.1723</td>
      <td>1.2835</td>
      <td>3.3778</td>
      <td>19.5542</td>
      <td>-0.2860</td>
      <td>-5.1612</td>
      <td>7.2882</td>
      <td>13.9260</td>
      <td>-9.1846</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 200 columns</p>
</div>

In [15]:
test.isnull().sum().sum()

0

In [16]:
X_train.var()

var_0        9.241909
var_1       16.402858
var_2        6.974322
var_3        4.175153
var_4        2.634614
var_5       61.830963
var_6        0.751008
var_7       11.683241
var_8       11.106446
var_9        1.525398
var_10      30.258724
var_11      35.643922
var_12       0.036123
var_13      21.525290
var_14       5.053091
var_15       0.169506
var_16       6.540402
var_17      45.059166
var_18      61.644015
var_19      63.947112
var_20      34.530360
var_21      67.183656
var_22       8.110864
var_23       0.277617
var_24      14.267582
var_25       0.081530
var_26      35.072569
var_27       2.321705
var_28       0.613664
var_29       6.843150
              ...
var_170     19.577270
var_171     28.922975
var_172     75.241236
var_173     35.601200
var_174     50.928585
var_175      8.364631
var_176     56.459280
var_177      6.911087
var_178     73.613144
var_179      7.834157
var_180     27.680674
var_181      1.882006
var_182     80.343150
var_183     20.024944
var_184     86.830347
var_185     22.327202
var_186     10.174565
var_187    133.973861
var_188     15.559903
var_189      0.953255
var_190     20.792886
var_191      9.140172
var_192      2.185734
var_193     15.936306
var_194      9.829241
var_195      2.043105
var_196     29.750144
var_197      0.849394
var_198      9.065793
var_199    108.952159
Length: 200, dtype: float64

In [17]:
# As the variance is high, we need to scale out the features

In [18]:
ss = StandardScaler()
X_train_Scaled = ss.fit_transform(X_train)

In [19]:
X_test_Scaled = ss.transform(X_test)

In [20]:
y_train.value_counts(dropna=False)

0    179902
1     20098
Name: target, dtype: int64

In [21]:
encoder = LabelEncoder()
encoder.fit(y_train)
encoded_Y = encoder.transform(y_train)

In [22]:
model = Sequential()
model.add(Dense(200, activation='relu'))
model.add(Dense(25, activation='relu'))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From c:\users\katta's\venv\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [2]:
history = model.fit(X_train_Scaled, encoded_Y, epochs=10, batch_size = 32, shuffle=True, verbose=1)

NameError: name 'model' is not defined

In [1]:
pred = model.predict(X_test_Scaled)
metrics = model.evaluate(X_train_Scaled, encoded_Y)
print("\n%s: %.2f%%" % (model.metrics_names[1], metrics[1]*100))

NameError: name 'model' is not defined

In [5]:
result = pd.DataFrame({"ID_code": test['ID_code'], "target": pred[:,0]})
result.head()

NameError: name 'test' is not defined

In [27]:
result.to_csv("C:/Users/Katta's/PycharmProjects/AI-ML/AI-ML/Kaggle/santander-customer-transaction-prediction/data/submission1.csv", index=False)